/* Import the Roboto font from Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

/* Global styles */
body {
  background: #ffffff; /* fallback for old browsers */
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  padding-bottom: 10010px;
  margin-bottom: -10000px;
  float: left;
  width: 100%;
  margin-top: 12px;
}

main button {
  font-family: sans-serif;
  text-transform: uppercase;
  background: #26ade4;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 12px;
  text-align:center;
}

header {
  background: #26ade4;
  height: 100px;
  text-align:right;
  font-size: 12px;
  color: #FFFFFF;
}

header strong {
  margin: 0;
  padding-top: 15px;
  font-size: 15px;
}

header a {
  margin: 10px;
  color: #FFFFFF;
  font-size: 14px;
}

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form input[type="submit"] {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #26ade4;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form input[type="submit"]:hover,
.form input[type="submit"]:active,
.form input[type="submit"]:focus {
  background: #017daf;
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

.form .message a {
  color: #017daf;
  text-decoration: none;
}

.form .register-form {
  display: none;
}

.welcome {
  margin: 10px;
  padding-top: 15px;
  font-size:14px;
}

.header {
  background: #26ade4;
  height: 100px;
  text-align: right;
  font-size: 12px;
  color: #FFFFFF
}

.main {
  width: 90%;
}

.error {
  color: #e11312;
  font-size: 14px;
  text-align: center;
}

.message {
  color: #FFFFFF;
  font-size: 14px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Add some space between buttons */
